@import "tailwindcss";

:root {
  --app-scale: 0.9
}

body {
  margin:0;
  padding:0;
}

.maindiv h1 {
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0%;
}

.app-scaled {
  transform: scale(var(--app-scale));
  transform-origin: top left;
  width: calc(100% / var(--app-scale));
  height: calc(100% / var(--app-scale));
}

.kop {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 0px;
}
.kop h1 {
  margin-left: 6px;
  font-size: xx-large;
  font-family: "EB Garamond", serif;
  font-weight: 200;
}

.boom {
  font-family: "EB Garamond", serif;
  font-size: xx-large;
  font-weight: 300;
  font-style: italic;

}

p.copyright {
  font-size: .6em;
  color: white;
  text-align: right;
  position: relative;
  display: inline-block;
  font-weight: 100;
  margin-right: 4px;
}

table input {
  border: 1px solid black;
  border-radius: 5%;
  margin-left: 10px;
  text-align: right;
  width: 100px;
}

.teams {
  background-color: var(--color-cyan-100);
  border: 1px solid blue;
  padding: 4px;
  margin: 5px;
  width: 45%;
  display: inline-block;
  top: 0px;
  border-radius: 5px;
}
.schema {
  background-color: var(--color-cyan-50);
  border: 1px solid blue;
  border-radius: 5px;
  padding: 6px;
  margin: 1px 3px;

}

.schema input {
  background-color: white;
}
.stand {
  background-color: var(--color-cyan-100);
  border: 1px solid blue;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 3px;
  width: 99%;
  /* display: inline-block; */
  /* position: absolute; */
  /* top: 0px; */
}
.stand table {
  margin: 2px auto;
  text-align: left;
}

.teamlijst {
  background-color: var(--color-cyan-100);
  border: 1px solid blue;
  border-radius: 5px;
  padding: 2px 10px;
  margin: 4px;
  width: 52%;
  display: inline-block;
  position: absolute;
  top: 0px;
  text-align: center;
  font-size: .9em;
}

.stand h2{
  font-size: 1.2em;
  color:var(--color-green-800);
  font-weight: bold;
  margin: 0px;
  padding:0px;
  text-align: center;
}

.schema h2{
  font-size: 1.2em;
  color:var(--color-green-800);
  margin:0px;
  padding:0px;
}
.finale {
  background-color: var(--color-cyan-200);
  border: 1px solid blue;
  border-radius: 5px;
  padding: 6px;
  margin: 1px 3px;
}
.teamnaam {
  background-color: white;
  width: 10px;
}

td.team {
  min-width: 120px;
  font-size: 0.9em;
}

.toprow {
  background-color: var(--color-cyan-600);
  color: black;
  text-align: left;
  margin: 8px;
  position: relative;
  border-radius: 5px;
  min-height: 300px;
}

.testkleur {
  color: rgb(5, 93, 165);
}

.maindiv {
  background-color:var(--color-green-800);
  padding: 1px;
  max-width: 640px;
  padding-bottom: 4px;
  margin-top: 6px;
}

ul.dbl{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-align: left;
}

.teamlist {
  border: 1px solid darkblue;
  border-radius:5px;
  padding:1px;
  margin: 2px;
}

.teamSelected {
  /* text-decoration: line-through;  */
  color: var(--color-green-800);
  font-size: 1rem;
  /* background-color: rgb(116, 206, 116); */
  /* visibility:hidden; */
}

.teamDisabled {
  /* color: var(--color-gray-500); */
  
  font-size: .9rem;
  color: gray;
  /* background-color: lightgray; */
  /* visibility:hidden; */
  pointer-events: none;
}

button {
  border-radius: 5px;
}

.btn {
  margin-left:2px; 
  margin-right: 2px; 
  padding: 2px;
  width:auto; 
  height:30px; 
  border-radius: 5px;
  font-size: .9em;
}

button:disabled {
  background-color: lightgrey;
  color:darkgray;
}

button:hover:enabled {
  background-color: var(--color-lime-600);
  color: var(--color-lime-100);
  /* border-color: bisque; */
  /* border: 2px solid bisque; */
  transform: scale3d(1.1, 1.1, 0.3);
  
}

.v-popper--theme-tooltip .v-popper__inner {
  background-color: yellow;
  color: darkblue;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid darkblue;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),
              0 4px 6px -4px rgba(0,0,0,.1);
}
.v-popper--theme-tooltip .v-popper__arrow-inner { 
  visibility: visible;
  border-color: darkblue;
}
.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: darkblue;
}

/* ERROR */
.v-popper--theme-error .v-popper__inner {
  background-color: #dc2626; /* red-600 */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),
              0 4px 6px -4px rgba(0,0,0,.1);
}
.v-popper--theme-error .v-popper__arrow-inner { 
  visibility: visible;
  border-color: #dc2626;
}
.v-popper--theme-error .v-popper__arrow-outer {
  border-color: #dc2626;
}

/* INFO */
.v-popper--theme-info .v-popper__inner {
  background-color: #2563eb; /* blue-600 */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),
              0 4px 6px -4px rgba(0,0,0,.1);
}
.v-popper--theme-info .v-popper__arrow-inner { 
  visibility: visible;
  border-color: #2563eb;
}
.v-popper--theme-info .v-popper__arrow-outer {
  border-color: #2563eb;
}
