body {
  margin:0;
  padding:0;
}
.kop {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p.copyright {
  font-size: .5em;
  color: white;
  text-align: right;
  position: relative;
  display: inline-block;
  font-weight: 100;
}

table input {
  border: 1px solid black;
  border-radius: 5%;
  margin-left: 10px;
  text-align: right;
  width: 100px;
}

.teams {
  background-color: beige;
  border: 1px solid blue;
  padding: 4px;
  margin: 5px;
  width: 45%;
  display: inline-block;
  top: 0px;
  border-radius: 5px;
}
.schema {
  background-color: #f2f8b6;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 12px;
  margin: 8px;
}

.schema input {
  background-color: white;
}
.stand {
  background-color: rgb(158, 207, 240);
  border: 1px solid blue;
  border-radius: 5px;
  padding: 2px 10px;
  margin: 4px;
  width: 52%;
  display: inline-block;
  position: absolute;
  top: 0px;
  text-align: center;
}
.stand table {
  margin: 2px auto;
  text-align: left;
}
.stand h2{
  font-size: 1.2em;
  color:darkblue;
  margin-top: 2px;
  margin-top: 0px;
}

.teamnaam {
  background-color: white;
  width: 150px;
}

td.team {
  min-width: 120px;
  font-size: 0.9em;
}

.toprow {
  background-color: var(--color-blue-500);
  color: black;
  text-align: left;
  margin: 8px;
  position: relative;
  border-radius: 5px;
}

.maindiv {
  background-color: darkgreen;
  padding: 1px;
  max-width: 680px;
}

.maindiv h1 {
  color: white;
  text-align: center;
  padding-top: 5px;
}

ul.dbl{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-align: left;
}

.teamlist {
  border: 1px solid darkblue;
  border-radius:5px;
  padding:1px;
  margin: 2px;
}

.teamSelected {
  /* text-decoration: line-through;  */
  color: darkgreen;
  /* background-color: rgb(116, 206, 116); */
  /* visibility:hidden; */
}

button.bg-green-500 {
  background-color: darkgreen;
}

button.bg-red-500 {
  background-color: darkred;
}

button {
  border-radius: 5px;
}
